* {
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;

  /* Background image is centered vertically and horizontally at all times */
  background-position: center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
  the content's height is greater than the image's height */
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom,
    #1f2630,
    #51555e,
    #888a90,
    #c3c3c6,
    #ffffff
  );
}

a:link {
  text-decoration: none;
}
